/* @font-face {
  font-family: ;
  src: url();
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  width: 100%;
  height: 100%;
  
}

html{
  background-color: rgb(12, 12, 12);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: space-between;
}
.notes{
  height: 100%;
  width: 49%;
  padding-inline:1.5rem ;
  padding-block: 2.5rem;
  overflow: auto;
  
}

.notecontainer{
  height: 100%;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items:center;

}

.noteForm{
  width: 600px;
  height: 400px;
  background-color: #515151;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
   padding-inline:3rem;
   padding-block:4rem ;
}


.noteForm label{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  
}

.noteForm input{
  padding: 0.7rem 0.6rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 2.5rem;
}

.noteForm button{
  padding: 0.7rem 0.8rem;
  width:  fit-content;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;

}

.note{
  background-color: gray;
  padding: 1rem;
  /* width: 15rem; */
  height: 7rem;
  max-width: 20rem;
  border-radius: .75rem;
  margin-bottom: 1rem;
}


.bottom{
  width: 100%;
  display:flex ;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.bottom button{
  padding: 0.2rem  0.3rem;
  border-radius: 0.2rem;
  border:none;
  cursor: pointer;
}
